{% extends "base.html" %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/media/css/profile.css" />
{% endblock %}

{% block main %}
<h2>{% trans "The page you requested cannot be found" %}</h2>
 <p>
  <ul>
  <li>{% trans 'If you typed the page url, check the spelling.' %}</li>
  <li>{% trans 'Start from the <a href="http://www.agorabox.org">Agorabox Home Page</a>, and look for links to the information you want.' %}</li>
  <li>{% trans 'Click the <a onclick="javascript:history.back(1); return false;">Back</a> button to try another link.' %}</li>
 </ul>
</p>
{% endblock main %}
