{% extends "base.html" %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/media/css/profile.css" />
{% endblock %}

{% block main %}
<h2>{% trans "An error has occured" %}</h2>
 <p>
  {% trans "Something went wrong. We are sorry for the inconvenience. Try again later or let us now about the problem with <a href='http://www.agorabox.org/contact'>contacting us</a>" %}
</p>
{% endblock main %}
