<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>{{ title|default:"Agorabox" }}</title>
	{% load adminmedia i18n verbatim bundler_tags %}
	{% load_bundle "base_css" %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/start/jquery-ui.css" />

	{% block extra_css %}{% endblock %}
	{% block extrastyle %}{% endblock %}

	{% verbatim %}
	<script id="notification-template" type="text/x-jquery-tmpl">
<h3><a href='#'>${title}</a></h3>
 <div>
 <p>
  <div class="notification-avatar">
   <img src="{% endverbatim %}{% url api.buddies "" %}{% verbatim %}/${following}/avatar?width=32&height=32" width="32" height="32" />
  </div>
  <div class="notification-text">
   ${body}<br/>
   {{if actions}}
   {{each actions}}
    <input type="button" id="notification_action" onclick="this.disabled=true; notification_action('${id}', '${$value}'); return false;" value="${$value}" />
   {{/each}}
   {{/if}}
  </div>
 </p>
</div>
	</script>
        {% endverbatim %}

        {% block extra_template %}{% endblock %}

	{% load_bundle "base_js" %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/base_js.js"></script>
	<script type="text/javascript" src="{% url notifications_js %}"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		// Transitions
		// for more transition, goto http://gsgd.co.uk/sandbox/jquery/easing/
		var style = 'easeOutElastic';

		var default_left = Math.round($('#lava li.selected').offset().left - $('#lava').offset().left);
		var default_width = $('#lava li.selected').width();

		$('#box').css({left: default_left});
		$('#box .head').css({width: default_width});

		$('#lava li').hover(function () {
			left = Math.round($(this).offset().left - $('#lava').offset().left);
			width = $(this).width();

			$('#box').stop(false, true).animate({left: left},{duration:1000, easing: style});
			$('#box .head').stop(false, true).animate({width:width},{duration:1000, easing: style});
		}).click(function () {
			$('#lava li').removeClass('selected');
			$(this).addClass('selected');
		});

		$('#lava').mouseleave(function () {
			default_left = Math.round($('#lava li.selected').offset().left - $('#lava').offset().left);
			default_width = $('#lava li.selected').width();

			$('#box').stop(false, true).animate({left: default_left},{duration:1500, easing: style});
			$('#box .head').stop(false, true).animate({width:default_width},{duration:1500, easing: style});
		});

		var notification_count =  {{ notifications|length|default:'0' }};
	});
	</script>
	<script type="text/javascript">
		//<![CDATA[
		var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-16996015-1']);_gaq.push(['_setDomainName', 'none']);_gaq.push(['_setAllowLinker', true]);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
		//]]>
	</script>

        {% block extra_js %}{% endblock %}
        <link rel="shortcut icon" href="/sites/agorabox/favicon.ico" />

        <meta name="ROBOTS" content="index,follow" />
</head>
<body {% if embed %}style="background-color: #ede9e3;"{% endif %}>

<div id="_notifications">
 <div id='_notifications_loader'>
  <img src='{{ STATIC_URL }}/images/spinner.gif' alt='loading' />
 </div>
 <div id='_notifications_acc'>
 </div>
</div>

	{% if not embed %}
	<div id="main">
            <div id="languages">
                <img src='{{ STATIC_URL }}images/spinner-unassuming.gif' id="spinner" alt='loading' alt="{% trans "Loading" %}" />
                <div class="icon-base icon-base-US flag" onclick="document.location='/en/files/';" alt='English'></div>
                <div class="icon-base icon-base-FR flag" onclick="document.location='/fr/files/';" alt='Français'></div>
            </div>
            <div id="interface">
                <div id="header">

		      <div id="login">
		        {% if username %}
			<table>
			  <tr>
			    <td>
			      <a href="javascript:void();" onclick="javascript:show_notifications(); return false;">
				<p id="notification_count" class="icon-base icon-base-comment">
				  {{ notifications|length }}
				</p>
			      </a>
			      <p class="login">
				{{ fullname }}
			      </p>
			    </td>
			    <td class="small-td">
			      <a href="/profile/"><div class="icon-base icon-base-processes" title="{% trans "Account" %}"></div></a>
			    </td>
			    <td class="small-td">
			      <a href="/account/logout"><div class="icon-base icon-base-shutdown" title="{% trans "Logout" %}"></div></a>
			    </td>
			  </tr>
			</table>
			<div id="quota-bar" class="ui-progressbar ui-widget-content ui-corner-all">
			  <div style="width: {{ quota.percentage }}%;" class="ui-progressbar-value ui-corner-left"></div>
			</div>
			<div id="space_used">{{ quota.used }} {% trans "Mo Used" %} ({{ quota.percentage }}%)</div>

                        {% else %}
			<p id="welcome">
                          {% trans "Welcome !" %}
                        </p>
                        {% endif %}
		      </div>


                    <div id="menu">

		      <div id="lava">
			{% if username %}
			<ul class="lavaLampWithImage" id="menulamp">
			  <li{% if "/files/" in request.path %} class="selected"{% endif %}><a href="{% url files %}">{% trans "My files" %}</a></li>
			  <li{% if "/notes/" in request.path %} class="selected"{% endif %}><a href="{% url notes %}">{% trans "My notes" %}</a></li>
			  <li{% if "/profile/" in request.path %} class="selected"{% endif %}><a href="{% url profile %}">{% trans "My account" %}</a></li>

			</ul>
			<div id="box"><div class="head"></div></div>
			{%else%}
			<ul class="lavaLampWithImage" id="menulamp">
                          <li{% if "/account/register/" in request.path %} class="selected"{% endif %}><a href="/account/register/">{% trans "Register" %}</a></li>
                          <li{% if "/files/" in request.path %} class="selected"{% endif %}><a href="{% url files %}">{% trans "Login" %}</a></li>

                        </ul>
                        <div id="box"><div class="head"></div></div>
			{% endif %}
		      </div>
                    </div>
                <div id="center">
        {% endif %}

        {% block main %}{% endblock %}
        {% block content %}{% endblock %}

        {% if not embed %}
                </div>

                <div id="right">
                    {% block search %}{% endblock %}
                    {% block object-tools %}{% endblock %}

                    {% block sidebar %}
                    {% endblock %}

                    {% block filters %}
                    {% endblock %}

                    {% if user.username == 'admin' %}
                    {% block admin %}
                    {% endblock %}
                    {% endif %}

                    {% block summary %}
                    {% endblock %}
                </div>

                <div id="footer">
                    <div id="footer_copyright">
                        <a href="http://www.agorabox.org" class="link_footer">Copyright (c) 2008-2011 AGORABOX</a>
                    </div>
                    <div id="footer_legal">
                        <a href="http://www.agorabox.org/FR/index.php/agorabox/mentions-legales.php" class="link_footer" >Mentions légales</a>
                        |
                        <a href="http://www.agorabox.org/FR/index.php/agorabox/recrutement.php" class="link_footer" >Recrutement</a>
                        |
                        <a href="http://www.agorabox.org/FR/index.php/agorabox/contact.php" class="link_footer" >Contact</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>
