{% extends "//usr/lib/python2.7/site-packages/ufoweb/templates/minimal.html" %}

{% block main %}

  {% autoescape on %}

  {% if notdefined %}
<!--
This is the template for the WebAuth login page.  This page is called from
login.fcgi script on the weblogin server.  It displays a form asking the
user for username and password.  Variables used:

error                  : some error occurred
err_missinginput       : one of username or password missing
err_username           : no username error
err_password           : no password error
err_loginfailed        : username and password were incorrect
err_forced             : web site requires username/password login
err_rejected           : username not permitted to authenticate
RT                     : Response Token
ST                     : Service Token
LC                     : Login Cancel Token
username               : the username
login_cancel           : a cancel URL was specified
cancel_url             : the specified cancel URL
show_remuser           : show a button for REMOTE_USER authentication
remuser_failed         : REMOTE_USER authentication was tried and failed
remuser_url            : where to send the user for REMOTE_USER auth
-->
  {% endif %}

    <h1 align="center">Agorabox Login</h1>
    {% if error %}
      <div class="error" align="center">
        <p><strong>
          {% if err_missinginput %}
            <!-- This is just the combination of err_username and
                 err_password if you want only one error message.  We
                 don't use it. -->
          {% endif %}
          {% if err_username %}
            <!-- Error: no username submitted. -->
            {% if err_password %}
              Error: Enter your username and password.
            {% else %}
              Error: Enter your username.
            {% endif %}
          {% else %}
            {% if err_password %}
              <!-- Error: no password submitted. -->
              Error: Enter your password.
            {% endif %}
          {% endif %}

          {% if err_loginfailed %}
            <!-- Error: login failed. -->
            Error: You entered an incorrect username or password (or both).
          {% endif %}

          {% if err_rejected %}
            <!-- Error: user principal rejected. -->
            Error: That username may not authenticate to this service.
          {% endif %}

          {% if err_forced %}
            <!-- Not really an error, forced login. -->
            This web site requires that you log in with username and
            password.
          {% endif %}
        </strong></p>
      </div>
    {% endif %}

    {% if remuser_failed %}
      <div class="error" align="center">
        <p><strong>Error: Apache authentication was tried and
        failed.</strong></p>
      </div>
    {% endif %}

    <div class="loginbox" align="center">
      <table border="0" width="70%">
        <tr>
            <div class="loginform">
              <form name="login"
                    action="{{ script_name|escape }}"
                    method="post" autocomplete="OFF"
                    enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="RT"
                       value="{{ RT }}">
                <input type="hidden" name="ST"
                       value="{{ ST }}">
                <input type="hidden" name="LC"
                       value="{{ LC }}>">
                <input type="hidden" name="login" value="yes">
                <table>
                  <tr>
                    <td><strong>Username:</strong></td>
                    <td><input name="username" type="text"
                               value="{{ username }}"
                               size="18"><br/></td>
                  </tr>
                  <tr>
                    <td><strong>Password:</strong></td>
                    <td><input name="password" type="password" size="18"></td>
                  </tr>
                  <tr>
                    <td colspan="2" align="right">
                      <input type="submit" name="Submit" value="Login">
                    </td>
                  </tr>
                </table>
              </form>
            </div>
            <div class="loginlinks">

              {% if login_cancel %}
                <!-- The WebAuth Server has a cancel url.-->
                <a href="{{ cancel_url }}">cancel</a>
              {% endif %}

            </div>
          </td>
        </tr>
      </table>
    </div>

    {% if show_remuser %}
      <div class="remuserbox" align="center">
        <table border="0" width="70%">
          <tr>
              <td>
                Or skip entering your username and password.  Instead,
                log in using your computer login information via
                Apache authentication:
              </td>
              <td>
                <form action="{{ remuser_url }}"
                      method="get">
                  <input type="hidden" name="RT"
                         value="{{ RT }}">
                  <input type="hidden" name="ST"
                         value="{{ ST }}">
                  <input type="submit" name="Submit" value="remuser">
                </form>
              </td>
            </tr>
        </table>
      </div>
    {% endif %}

  </body>
</html>

  {% endautoescape %}

{% endblock %}

