<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR">
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{{ title|default:"Agorabox" }}</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/media.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/template.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/start/jquery-ui.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.toastmessage.css" />
	{% block extra_css %}{% endblock %}
        {% block extrastyle %}{% endblock %}
        {% block extra_template %}{% endblock %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.13.custom.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.history.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.periodicalupdater.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.toastmessage.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.labelify.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		var selected = 0;
		if (document.URL.indexOf("/login?") != -1) {
			selected = 1;
		}
		$("#lava > ul").children().eq(selected).addClass("selected");

		// Transitions
		// for more transition, goto http://gsgd.co.uk/sandbox/jquery/easing/
		var style = 'easeOutElastic';

		var default_left = Math.round($('#lava li.selected').offset().left - $('#lava').offset().left);
		var default_width = $('#lava li.selected').width();

		$('#box').css({left: default_left});
		$('#box .head').css({width: default_width});

		$('#lava li').hover(function () {
			left = Math.round($(this).offset().left - $('#lava').offset().left);
			width = $(this).width();

			$('#box').stop(false, true).animate({left: left},{duration:1000, easing: style});
			$('#box .head').stop(false, true).animate({width:width},{duration:1000, easing: style});
		}).click(function () {
			$('#lava li').removeClass('selected');
			$(this).addClass('selected');
		});

		$('#lava').mouseleave(function () {
			default_left = Math.round($('#lava li.selected').offset().left - $('#lava').offset().left);
			default_width = $('#lava li.selected').width();

			$('#box').stop(false, true).animate({left: default_left},{duration:1500, easing: style});
			$('#box .head').stop(false, true).animate({width:default_width},{duration:1500, easing: style});
		});

		var notification_count =  {{ notifications|length|default:'0' }};
	});
	</script>
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
	<script type="text/javascript">
	//<![CDATA[
		var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-16996015-1']);_gaq.push(['_setDomainName', 'none']);_gaq.push(['_setAllowLinker', true]);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
	//]]>
	</script>

        {% block extra_js %}{% endblock %}
        <link rel="shortcut icon" href="/sites/agorabox/favicon.ico" />

        <meta name="ROBOTS" content="index,follow" />
</head>
<body {% if embed %}style="background-color: #ede9e3;"{% endif %}>

	{% if not embed %}
	<div id="main">
            <div id="languages">
                <img src='{{ STATIC_URL }}images/spinner-unassuming.gif' id="spinner" style="display: none" alt="Loading" />
                <img src="{{ STATIC_URL }}images/flags/US.png" class="flag" onclick="document.location='/en/files/';" alt='English' />
                <img src="{{ STATIC_URL }}images/flags/FR.png" class="flag" onclick="document.location='/fr/files/';" alt='Français' />
            </div>

            <div id="interface">
                <div id="header">
                    <div id="login">
                        <p id="welcome">Welcome !</p>
                    </div>

                    <div id="menu">
                      <div id="lava">
                        <ul class="lavaLampWithImage" id="menulamp">
                          <li{% if "/account/register/" in request.path %} class="selected"{% endif %}><a href="/account/register/">Register</a></li>
                          <li{% if "/login" in request.path %} class="selected"{% endif %}><a href="/files/">Login</a></li>
                        </ul>
                        <div id="box"><div class="head"></div></div>
                      </div>
                   </div>

                <div id="center">
        {% endif %}

        {% block main %}{% endblock %}
        {% block content %}{% endblock %}

        {% if not embed %}
                </div>

                <div id="right">
                    {% block search %}{% endblock %}
                    {% block object-tools %}{% endblock %}

                    {% block sidebar %}
                    {% endblock %}

                    {% block filters %}
                    {% endblock %}

                    {% if user.username == 'admin' %}
                    {% block admin %}
                    {% endblock %}
                    {% endif %}

                    {% block summary %}
                    {% endblock %}
                </div>

                <div id="footer">
                    <div id="footer_copyright">
                        <a href="http://www.agorabox.org" class="link_footer">Copyright (c) 2008-2011 AGORABOX</a>
                    </div>
                    <div id="footer_legal">
                        <a href="http://www.agorabox.org/FR/index.php/agorabox/mentions-legales.php" class="link_footer" >Mentions légales</a>
                        | 
                        <a href="http://www.agorabox.org/FR/index.php/agorabox/recrutement.php" class="link_footer" >Recrutement</a>
                        | 
                        <a href="http://www.agorabox.org/FR/index.php/agorabox/contact.php" class="link_footer" >Contact</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>
