a img {
  border: 0px;
}

#main_frame p {
  height: 25px;
  width: 600px;
  float: left;
}

#main_frame {
  margin: 0;
}

#main_frame h1 {
  color: #1EB1E1;
  border-bottom: 1px solid #CCC;
  font-size:18px;
}

#main_frame p label {
  display: block;
  width: 150px;
  float: left;
  margin: 5px;
  padding: 2px;
  font-weight: bold;
  vertical-align: middle;
}

#main_frame p input {
  display: block;
  width: 350px;
  float: right;
  margin: 5px;
  padding: 2px;
}

#main_frame input[type=submit] {
  display: block;
  clear: both;
  margin: 15px auto;
  width: 200px;
  height: auto;
}

#profile-sheet {
  text-align: center;
  margin: 0;
}

#profile-sheet h1 {
  color: #1EB1E1;
  border-bottom: 1px solid #CCC;
  font-size: 18px;
}

.hidden-field {
  visibility: hidden;
}

.visible-field {
  visibility: normal;
}

.toggleEdit-preview 
{
  padding: 2px;
  display:inline-block;
}

.toggleEdit-preview:hover {
  padding: 0px;   
  border: 2px solid #8CDFFF;
}


.user-grid li {
  margin: 3px;
  float: left;
  width: 264px;
  height: 80px;
  background-image: none;
  background-color: white;
  color: black;
  padding: 8px;
  border: 1px solid black;
  list-style-type: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} 

.user-grid .ui-selecting {
  background: #FECA40;
}

.user-grid .ui-selected {
  background: #EEEEEE;
  color: black;
}

#myfriends {
  height: 100%;
  overflow: scroll;
  overflow-x:hidden;
}

#findfriends {
  height: 100%;
  overflow: scroll;
  overflow-x:hidden;
}

#findusersgrid {
  float: left;
  width: 100%;
}

.small-avatar {
  float: left;
  width: 64px;
  height: 80px;
}

.avatar img {
}

.user-infos {
  float: right;
  font-size: 10pt;
  width: 190px;
  padding-left: 10px;
  color: black;
  height: 80px;
}

.user-infos a {
}

.user-login {
  font-weight: bold;
  text-align: center;
}

.user-action {
  padding-top: 15px;
}

#searchbox {
  float: right;
}

.search-input {
  width: 120px;
}

#searchbox div {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
}

.profile-entry {
  height: 35px;
  font-size: 15px;
  min-width:400px;
}

.profile-entry .profile-label {
  display: block;
  float: left;
  font-weight: bold;
}

.profile-entry .profile-value {
  display: block;
  float: right;
  width: 50%;
}
