{% extends "base.html" %}
{% load i18n field_value verbatim %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
{% endblock %}

{% block extra_template %}
<script id="user-template" type="text/x-jquery-tmpl">
 <li>
  <div class='small-avatar'>
   <img src="${avatar}?width=64&height=64">
  </div>
  <div class="user-infos">
   <b>${name}</b><br>${login}
   {% verbatim %}{{if status}}{% endverbatim %}
   <div class="user-action">
    <a href="#" onclick="remove_friend('${login}')">{% trans "Cancel friendship" %}</a>
   </div>
   {% verbatim %}{{else}}{% endverbatim %}
   <div class="user-action">
    <a href="#" onclick="add_friend('${login}')">{% trans "Add as Friend" %}</a>
   </div>
   {% verbatim %}{{/if}}{% endverbatim %}
  </div>
 </li>
</script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.toggleEdit.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dutils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog "ufowebprofile" %}"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('#main_frame').find('input[type="text"]').toggleEdit( {
		events: {
		edit: 'mouseenter'
		}
	} );
	$('#main_frame').tabs();
	$('#search-input').autocomplete( {
		minLength: 3,
		source: function (request, response) {
			return $.ajax( {
				url : dutils.urls.resolve('api.users', { login : "" }) + '?q=' + request.term,
				dataType : "json",
				success : function(data) {
					var i, j;
					for (i = data.length - 1; i >= 0; i--) {
						for (j = 0; j < buddies.length; j++) {
							if (buddies[j].login == data[i].login) {
								data.splice(i);
								break;
							}
						}
					}
					display_friends('findusersgrid', data);
					response($.map(data, function (item) {
						return {
							label: item.name,
							value: item.user_name
						}
					} ));
				}
			} );
		}
	} );
	update_friends('friendsgrid');
});
</script>
{% endblock %}

{% block main %}
 <div id="main_frame">
  <ul>
   <li><a href="#myprofile" title="{% trans "My files" %}"><span>{% trans "My informations" %}</span></a></li>
   <li><a href="#myfriends" title="{% trans "My friends" %}"><span>{% trans "My friends" %}</span></a></li>
   <li><a href="#findfriends" title="{% trans "Find friends" %}"><span>{% trans "Find friends" %}</span></a></li>
  </ul>
  <div id="myprofile">
   <form name="id_form" id="id_form" action="{% url profile %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div>
    {{ field.errors }}
     <div class="profile-entry">
      <div class="profile-label">{{ field.label_tag }}</div>
      <div class="profile-value">{{ field }}</div>
     </div>
    </div>
    {% endfor %}
    <input type="submit" id="id_submit" value="{% trans "Update my profile" %}">
   </form>
  </div>
  <div id="myfriends">
   <div>
   <ol id="friendsgrid" class="user-grid">
   </ol>
   </div>
  </div>
  <div id="findfriends" class="user-grid">
   <div id="searchbox">
    <form id="search-form" name="search-form">
     <input id="search-input" />
     <div class="ui-icon ui-icon-search">&nbsp;</div>
    </form>
   </div>
   <div id="findusersgrid" class="user-grid">
   </div>
  </div>
 </div>
{% endblock main %}


{% block sidebar %}
 <div id="profile-sheet">
  <h1>{% if user_profile.first_name and user_profile.last_name %} {{ user_profile.first_name }} {{ user_profile.last_name }}{% else %}{{ user_profile.first_email }}{% endif %}</h1>
  <img class="avatar" src="{% url api.buddies.avatar user.uid %}?width=200&height=200">
 </div>
{% endblock sidebar %}
