a {
  text-decoration: none;
}

a img {
  border:0px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #4e4f4f;
}

/* Page layout */

#interface{
  width:1000px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left:-500px;
  background: url('/media/images/centre2.png') 0px 0px repeat-y;
}

/* Top bar */

#header{
  width:1000px;
  height:100px;
  top:0px;
  left:0px;
  background: url('/media/images/banniere.png') 0px 0px no-repeat;
}

.flag {
  position:relative;
  float:right;
  margin-left:2px;
  right:-0px;
  cursor: pointer;
}

#notification_count {
  color: black;
  font-weight: bold;
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  margin: 3px 0 0 3px;
  font-size: 10px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.login {
  float: left;
  height: 24px;
  width: auto;
  vertical-align: middle;
  margin: 0px;
  margin-left: 15px;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

#quota-bar {
  margin-top: 3px;
  height: 5px;
  width: 150px;
  float: left;
}

#space_used {
  text-align: left;
  color:black;
  font-size:10px;
  float:left;
  margin-left:10px;
}

.ui-progressbar-value {
  margin-top: 0.5%;
  height:5px;
  background-color: #a6e219;
}

#welcome {
  float: left;
  height: 32px;
  width: auto;
  vertical-align: middle;
  margin: 0px;
  margin-left: 15px;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
  color: black;"
}

#languages {
  float: right;
  z-index: 100;
  margin-right: 7px;
  padding-top: 5px;
}

#spinner {
  display: inline;
  float: left;
}

.spinner {
  background: url(/media/images/spinner.gif) center no-repeat; width: 100%;
  text-align: center;
  vertical-align: bottom;
}

#_notifications {
  display:none;
  position:absolute;
  width:300px;
  border: 2px solid #666;
  background: transparent;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-border-radius:6px;
  z-index:100;
  padding:5px;
}

#login table {
  width: 100%;
  border: 0;
  border-spacing: 0px;
  padding: 0px;
}

#login .small-td {
  width: 24px;
}

.notification-avatar {
  float: left;
  vertical-align: middle;
  margin-right: 10px;
}

.notification-text {
  vertical-align: top;
}

#_notifications_loader {
  display: none;
  text-align: center;
}

/* Menu */

#menu{
  float:left;
  width:80%;
  position: relative;
  top: -5px;
}

.lavaLampWithImage {
  position: relative;
  height: 29px;
  padding: 5px;
  margin: 10px 0;
  overflow: hidden;
}

.lavaLampWithImage li {
  float: left;
  list-style: none;
  margin-left:0px;
  background-image:none;
}

.lavaLampWithImage li span {
  font-size:14px;
  font-weight:bold;
  color: #fff;
  outline: none;
  text-align: center;
  top: 7px;
  letter-spacing: 0;
  z-index: 10;
  display: block;
  height: 25px;position: relative;
  overflow: hidden;
  margin: auto 10px;
  font-family:trebuchet MS;
  float: left;list-style: none;
  background-image:none;
}

.lavaLampWithImage li.back {
  width: 9px;
  height: 30px;
  z-index: 8;
  position: absolute;
}

.lavaLampWithImage li.back .left {
  height: 30px;
}

.lavaLampWithImage li a {
  font-size:14px;
  text-decoration: none;
  color: #fff;
  outline: none;
  text-align: center;
  top: 7px;
  letter-spacing: 0;
  z-index: 10;
  display: block;
  float: left;
  height: 25px;
  position: relative;
  overflow: hidden;
  margin: auto 10px;
}

.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
  border: none;
}

#lava {
  /* you must set it to relative, so that you can use absolute position for children elements */
  position:relative; 
  text-align:center; 
  width:583px; 
  height:60px;
  top:10px;
  left:0px;
}

#lava ul {
  /* remove the list style and spaces*/
  margin:0; 
  padding:0; 
  list-style:none; 
  display:inline;
      
  /* position absolute so that z-index can be defined */
  position:absolute; 
  
  /* center the menu, depend on the width of you menu*/
  left:0px; 
  top:00; 
  
  /* should be higher than #box */
  z-index:100;

}

#lava ul li {
  /* give some spaces between the list items */
  margin:0 15px; 
  /* display the list item in single row */
  float:left;
  background-repeat: no-repeat;
  padding-left: 15px;
}

#lava #box {
  
  /* position absolute so that z-index can be defined and able to move this item using javascript */
  position:absolute; 
  left:0; 
  top:0; 
  
  /* should be lower than the list menu */
  z-index:50; 

  /* image of the right rounded corner */
  background:#1e6aa4; 
  height:0px;
  
  /* add padding 8px so that the tail would appear */
  padding-right:0px;
  
  /* self-adjust negative margin to make sure the box display in the center of the item */
  margin-left:0px;
}

#lava #box .head {
  /* image of the left rounded corner */
  background:#1e6aa4;
  height:30px;
  /* self-adjust left padding to make sure the box display in the center of the item */
  padding-left:25px;
  border-radius:5px;
  border-top-radius:5px;
}

/* Login box */

#login {
  text-align: right;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  font-size: 12px;
  z-index: 100;
  float: right;
  width: 300px;
  margin-right: 5px;
  padding: 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

/* Center column */

#main{
  width: 100%;
  height: 199px;
  position: relative;
  top: 0px;
  left:0px;
  background: url('/media/images/bordure_banniere.png') 0px 0px repeat-x;
}

#center {
  position: relative;
  top: 0px;
  width: 681px;
  float: left;
  margin-left:8px; text-align:justify;
  min-height:450px;
}

/* Right column */

#right {
  position: relative;
  width: 302px;
  min-height: 450px;
  float: right;
  margin: 10px 8px 0px 0px;
}

/* Footer */

#footer {
  width: 1000px;
  height: 36px;
  float:left;
  z-index:100;
  background: url(/media/images/footer.png) 0px 0px no-repeat;
}

#footer_copyright {
  margin-top: 12px;
  margin-left: 20px;
  float:left;
}

#footer_legal {
  margin-top:12px;
  margin-right: 20px;
  float: right;
}

.link_footer {
  color:#fff
}

